[submodule "PX4-Autopilot"]
	path = ap/px4
	url = https://github.com/mhcho1994/PX4-Autopilot.git
	branch = v1.16.1-MOTIF
	
[submodule "ArduPilot"]
	path = ap/ardupilot
	url = https://github.com/mhcho1994/ardupilot.git
	branch = Copter-4.6.2-MOTIF
